.settings/
.project
.metadata
*.DS_Store
# IntelliJ Files
*.iml
.idea
matsimExamples
**/target
/log_projects.log
*.orig

# Ignore Eclipse
.classpath
.project
.settings/
.factorypath


# Ignore Maven
target/

# Ignore VS Code
.vscode/